@page
@using MainWebApp
@model IndexModel
<ul>
@foreach (var link in Model.Links)
{
    <li>
        <a href="@link">@link</a>
    </li>
}

    <li><a href="/Plugin1Home">Plugin1 Home Controller</a></li>
</ul>
